 <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand page-scroll" href="#page-top">
                    <i class="fa fa-play-circle"></i> dawidwrobel<span class="light">.com</span>
                </a>
            </div>
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="list-inline nav navbar-nav">
                    <li>
                        <a href="mailto:{{ site.email }}" class="btn"><i class="fa fa-envelope fa-fw"></i><span class="network-name visible-xs">{{ site.email }}</span></a>
                    </li>
                    {% for network in site.social %}
                    <li>
                        <a href="{{ network.url }}" class="btn"><i class="fa fa-{{ network.title }} fa-fw"></i><span class="network-name visible-xs">{{ network.title }}</span></a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>